<div style="text-align:center">
<a [routerLink]="['/home']">Home</a>
  <h3>Register a Restaurant:</h3>
  <div id="form-div">
    
    
    <form class="form" (submit)='addProductFromService()'>
      <label for="newProduct.name">Product Name:</label>
      <input type="text" name="newProduct.name" [(ngModel)]="newProduct.name"><br>
      <label for="newProduct.quantity">Quantity:</label>
      <input type="text" name="newProduct.quantity" [(ngModel)]="newProduct.quantity"><br>
      <label for="newProduct.price">Price:</label>
      <input type="text" name="newProduct.price" [(ngModel)]="newProduct.price"><br>
      <input id="submit" type="submit" value="Add Product">
    </form>
    <button id="reset" [routerLink]="['/home']">Cancel</button>
  </div>
  <p style="color: red" *ngIf='error'>{{error.message}}</p>
</div>