form{
    margin-bottom: 10px;
    display: inline-block;
}
form, input{
    text-align: right;
    margin-bottom: 6px;
}

#submit{
    padding: 5px;
    background-color: palegreen;
    border-radius: 6px;
}

#reset{
    padding: 5px;
    border-radius: 6px;

}