
<ul class="collection with-header">
    <li class="collection-header"><h4>Details about {{product.name}}</h4></li>
    <li class="collection-item">Quantity: {{product.quantity}}</li>
    <li class="collection-item">Price: ${{product.price}}</li>
    <li class="collection-item">Product Id: {{product._id}}</li>
  </ul>
  <a class="waves-effect waves-light btn" [routerLink]="['/home']">Back</a>
  <a class="waves-effect waves-light btn red" [ngClass]="{'disabled': switch}" (click)="deleteFromService(product._id, product.quantity)">Delete</a>
  <p style="color: red" *ngIf='error'>{{error.message}}</p>